$color-main-orange: rgb(224, 172, 1);
$color-main-black: #212530;
$color-main-mint: rgb(88, 255, 171);
$color-main-blue: rgb(0, 132, 255);
$color-main-gray: rgb(156, 156, 156);
$color-main-white: white;